.comp-3{
    display: grid;
    grid-template-columns: 1fr;
    height: 25vh;
    align-items: center;
   /* justify-items: center;*/
}

.clear{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

.numeros{
    border: 0.5px solid #777a7d;
    border-radius: 5px;
}

#clear{
    display: flex;
    justify-content: center;
    align-items: center;
}