<div class="comp-2">
  <div class="multi">
    <div class="numeros" id="multi">
      <app-numero [numeroPadre]=56></app-numero>
    </div>
    <div class="mx-auto">
      <button type="button" class="btn btn-primary">Multiplicar</button>
    </div>
  </div>
  <div class="divi">
    <div class="numeros" id="divi">
        <app-numero [numeroPadre]=3146></app-numero>
      </div>
    <div class="mx-auto">
      <button type="button" class="btn btn-primary">Dividir</button>
    </div>
  </div>
</div>